<h1>Ajouter une review pour <%= @restaurant.name %></h1>

<!-- Si on met @review directement Rails POST sur la path restaurant-->
<!-- Pour aller sur la path imbriquer il faut utiliser la syntaxe suivante -->
<%= form_for [@restaurant, @review] do |f| %>
    <%= f.text_field :content %>
    <%= f.submit %>
<% end %>